@using SocialNetwork.PL.WebApp
@using SocialNetwork.Entities

@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }

    if (IsPost || User.IsInRole("admin"))
    {
        Response.Redirect("~/Error/Error400");
    }

    User curUser = null;
    IEnumerable<Dialog> dialogs = null;
    try
    {
        curUser = Common.UserLogic.GetUserByName(User.Identity.Name);
        dialogs = Common.UserMessagesLogic.GetUserDialogsUnread(curUser.Id)
                                               .Where(x => x.Messages.Any() && !x.Messages.Any(y => y.IsRead));
    }
    catch (Exception e)
    {
        Common.Log.Fatal($"Site: /User/ReceiveDialogs Message: {e.Message} {e.StackTrace}");
        Response.Redirect("~/Error/Error500");
    }

    if (IsAjax)
    {
        <ul id="DialogsList" class="tab-pane fade in active">
            @foreach (var dialog in dialogs)
            {
                <li class="list-group-item dialogElement">
                    <a href="~/User?userId=@dialog.SecondPerson.Id">
                        <img class="img-circle"
                                src="@(dialog.SecondPerson.Image ?? "/User/_Images/no_pic.png")"
                                alt="No image"
                                width="50"
                                height="40" />
                    </a>
                    <span class="text-capitalize text-info ">
                        @dialog.SecondPerson.FirstName @dialog.SecondPerson.LastName
                    </span>
                    <input type="hidden" value="@dialog.SecondPerson.Id" />
                    <p>@dialog.Messages.Last().Contents</p>
                </li>
            }
        </ul>

        foreach (var dialog in dialogs)
        {
            <div class="tab-pane fade" id="@dialog.SecondPerson.Id">
                <ul class="dialog" id="@dialog.SecondPerson.Id">
                    @foreach (var message in dialog.Messages)
                    {
                        if (message.SenderId == dialog.FirstPerson.Id)
                        {
                            <li class="list-group-item">
                                <p>
                                    <img src="@(dialog.FirstPerson.Image ?? "/User/_Images/no_pic.png")"
                                         class="img-circle img-thumbnail img-responsive"
                                         width="50"
                                         height="40" />
                                    <label class="label label-info">
                                        @message.DateSent.ToShortDateString()
                                    </label>
                                    @message.Contents
                                </p>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item text-right">
                                <p>
                                    <label class="label label-info">@message.DateSent.ToShortDateString()</label>
                                    @message.Contents
                                    <img src="@((message.SenderId == dialog.FirstPerson.Id ? dialog.FirstPerson.Image : dialog.SecondPerson.Image) ?? "/User/_Images/no_pic.png")"
                                         class="img-circle img-thumbnail img-responsive"
                                         width="50"
                                         height="40" />
                                </p>
                            </li>
                        }
                    }
                </ul>
                <div class="form-group sendForm pull-right">
                    <input type="text" class="form-control" name="message" />
                    <input type="hidden"
                           name="recieverId"
                           value="@dialog.SecondPerson.Id" />
                    <button class="btn btn-default pull-right">Send message</button>
                </div>
            </div>
        }

    }
}